* {
    margin: 0px;
}
@font-face {
    font-family: 'megaman';
    src: url(fonts/megaman-copy.ttf);
}
@font-face {
    font-family: 'press-start';
    src: url(fonts/press-startk.ttf);
}
body{
    background-color: #02EFEE;
}
.text {
    font-family: press-start;
    color: black;
}
.brown {
    color: brown;
}
.white {
    color: white;
}
p {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
    font-family: press-start;
}
.hidden {
    display: none;
}


/* contains header */
#header-wrapper {
}
header {
    background-color: #E7FAFA;
    border-bottom: 10px solid #0400f8;
    padding: 30px 0 25px 15px;
}
h1 a {
    font-family: megaman;
    font-size: 45px;
    color: #0400f8;
    padding-bottom: 20px;
}
header h2 {
    font-size: 28px;
    padding-top: .6em;
}



/* contains home page */
#home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 30px;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 180px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 15em;
    width: 80%;
    padding: 4%;
}
nav h3 {
    text-align: center;
    line-height: 1.8em;
    padding-bottom: 40px;
    text-transform: uppercase;
}
nav ul {
    list-style-type: none;
    text-align: center;
}
nav li {
    line-height: 3em;
}

#outer-robot {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#robot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#robot-container img{
    width: 72%;
}

/* START OF MAIN */

main {
    display: block;
    margin-right: 10%;
    line-height: 2em;
    margin-top: 180px;
}


#about-me {
    display: none;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    margin-left: 10%;
}
#my-pic {
    float: right;
    width: 30%;
    border: 3px solid #0400f8;
    border-radius: 10px;
    box-shadow: 5px 10px 20px;
    margin: 0 0 10px 10px;
}


#projects {
    display: none;
    margin-right: 10%;
    margin-left: 10%;
}
#projects p {
    margin-top: 30px;
}
#projects img {
    width: 60%;
    border: 3px solid #0400f8;
    border-radius: 10px;
    box-shadow: 5px 10px 20px;
}


#skills {
    margin-left: 10%;
    display: none;
}


/* END OF MAIN */

footer {
    display: grid;
    background-color: #0001cb;
    border-top: 3px solid white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    margin-top: 100px;
}
footer h2 {
    color: white;
    padding-bottom: 30px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


#footer1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#footer2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#footer3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}


@media only screen and (max-width: 1280px) {
    nav {
        font-size: 13px;
        top: 0;
        right: 25px;
    }
    #nav-prompt {
        margin-bottom: 8%;
        padding-bottom: 0;
        padding-top: 25px;
    }
    #outer-robot {
        padding-top: 100px;
        display: flex;
    }
}
@media only screen and (max-width: 1100px) {
    #outer-robot {
        padding-top: 170px;
    }
}
@media only screen and (max-width: 750px) {
    #home {
        display: flex;
        flex-direction: column;
    }
    #nav-container {
        padding-bottom: 70px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
    nav ul {
        padding: 0;
    }
    #outer-robot {
        padding-top: 30px;
        width: 75%;
    }
    #robot img {
    }
    main {
        margin-right: 0;
    }
    #about-me {
        margin-left: 5%;
        margin-right: 5%;
    }
    #my-pic {
        width: 50%;
    }
    #about-me p {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #projects img {
        width: 90%;
    }
}
@media only screen and (max-width: 500px) {
    nav {
        width: 80%;
        border-radius: 13em;
    }
    #nav-container {
        padding-bottom: 35px;
    }
    #nav-prompt {
        font-size: 13px;
    }
    .nav-item a {
        color: brown;
    }
    #my-pic {
        width: 60%;
    }
}
@media only screen and (max-width: 400px) {
    h1 {
        text-align: center;
    }
    h1 a {
        font-size: 100%;
        text-align: center;
    }
    header h2 {
        text-align: center;
        font-size: 120%;
        line-height: 1.3;
    }
    #home {
    }
    nav {
        padding: 7%;
    }
    footer {
        display: block;
    }
    footer h2 {
        padding-bottom: 20px;
    }
    footer div {
        padding-bottom: 10px;
    }
    footer div:last-of-type {
        padding-bottom: 0;
    }
}





#projects {
    text-align: right;
}
#snowman {
    text-align: left;
}