* {
    margin: 0px;
}
@font-face {
    font-family: 'megaman';
    src: url(fonts/megaman-copy.ttf);
}
@font-face {
    font-family: 'press-start';
    src: url(fonts/press-startk.ttf);
}
body{
    background-color: #02EFEE;
}
.text {
    font-family: press-start;
    color: black;
}
.brown {
    color: brown;
}
.white {
    color: white;
}
p {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
    font-family: press-start;
}
.hidden {
    display: none;
}
a:hover {
    cursor: pointer;
    cursor: url('images/buster-with-bar.svg') 22 13, auto;
}
a:active {
    cursor: url('images/buster-shooting.svg') 38 13, auto;
}





/********** HEADER */
#header-wrapper {
}
header {
    background-color: #E7FAFA;
    border-bottom: 10px solid #0400f8;
    padding: 30px 0 25px 15px;
}
h1 a {
    font-family: megaman;
    font-size: 40px;
    color: #0400f8;
    padding-bottom: 20px;
}
header h2 {
    font-size: 24px;
    padding-top: .6em;
}



/**********  HOME PAGE */
#home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 30px;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15em;
    width: 80%;
    padding: 4%;
}

#nav-prompt {
    font-size: 1em;
    text-align: center;
    line-height: 1.8em;
    padding-bottom: 10px;
    text-transform: uppercase;
}
#line1 {
    padding: 0 10px;
}
#line2 {
}
#line3{
}
#line4 {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}
nav li {
    line-height: 3em;
}

#bubble-pointer {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
    left: 15%;
    bottom: -10%;
    z-index: -1;
}
/* create a pseudo-element to mask the left side */
#bubble-pointer::after {
    content: "";
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #02EFEE;
    position: absolute;
    border-radius: 40%;
    left: -40%;
    z-index: -2;
    bottom: -10px;

}
#bubble-pointer.negativeSpace::after {
    animation: robotClick .1s;
}


#outer-robot {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 80px;
    margin-bottom: 60px;
}
#robot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#robot-container img{
    width: 72%;
}



/**********  START OF MAIN */

main {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    margin: 80px 8%;
}
main h3 {
    color: #0400f8;
    text-align: center;
    margin-bottom: 60px;
}
main h4 {
    color: #0400f8;
}


#about-me {
    display: none;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
}
#my-pic {
    float: right;
    width: 30%;
    border: 3px solid #0400f8;
    border-radius: 10px;
    box-shadow: 5px 10px 20px;
    margin: 0 0 10px 10px;
}



/* -------------------------------------- */
/* start of PROJECTS */
#projects {
    display: none;
    margin-right: 10%;
    margin-left: 10%;
}

#projects {
    text-align: right;
}
.project {
    margin-bottom: 60px;
}
.project img {
    width: 60%;
    border: 3px solid #0400f8;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 10px 20px;
}
.project:first-of-type {
    margin-top: 100px;
}
.project:nth-child(odd) {
    text-align: left;
}
.project .title {
    color: brown;
    margin-bottom: 10px;
}
.project .description {
    margin: 10px 0;
    margin-top: 10px;
}
.project a {
    position: relative;
}
.project a .work-in-progress-icon {
    width: 80px;
    border: none;
    box-shadow: none;
    position: absolute;
    bottom: -30px;
    right: -15px;
}


/* -------------------------------------- */



#skills {
    margin-left: 5%;
    display: none;
}

#cyber {
    text-align: center;
    margin: auto;
}
#cyber h3 {
    margin-bottom: 80px;
}
#cyber img {
    width: 100%;
    margin-bottom: 80px;
}

#cyber-img-small {
    display: none;
}

#my-pic {
    float: right;
    width: 30%;
    border: 3px solid #0400f8;
    border-radius: 10px;
    box-shadow: 5px 10px 20px;
    margin: 0 0 10px 10px;
}



/**********  END OF MAIN */

footer {
    display: grid;
    background-color: #0001cb;
    border-top: 3px solid white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    margin-top: 100px;
}
footer h2 {
    color: white;
    padding-bottom: 30px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


#footer1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#footer2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#footer3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}


@media only screen and (max-width: 1280px) {
    nav {
        font-size: 13px;
        top: 0;
        right: 25px;
    }
    #nav-prompt {
        margin-bottom: 8%;
        padding-bottom: 0;
        padding-top: 25px;
    }
    #outer-robot {
        padding-top: 100px;
        display: flex;
    }
}

@media only screen and (max-width: 1100px) {
    #outer-robot {
        padding-top: 170px;
    }
}

@media only screen and (max-width: 750px) {
    #home {
        display: flex;
        flex-direction: column;
    }
    #nav-container {
        padding-bottom: 70px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        right: 0px;
    }
    #bubble-pointer {
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 100%;
        left: auto;
        right: 30%;
        bottom: -8%;
        z-index: -1;
    }
    #bubble-pointer::after {
        content: "";
        display: inline-block;
        width: 150px;
        height: 150px;
        background-color: #02EFEE;
        position: absolute;
        border-radius: 40%;
        right: 40%;
        z-index: -2;
        bottom: -10px;
    }


    nav ul {
        padding: 0;
    }
    #outer-robot {
        padding-top: 30px;
        width: 75%;
    }
    #robot img {
    }
    main {
        margin: 0 5%;
    }
    #about-me {
        margin-left: 5%;
        margin-right: 5%;
    }
    #my-pic {
        width: 50%;
    }
    #about-me p {
        font-size: 14px;
        font-family: monospace, Arial, Helvetica, sans-serif;
    }


    #projects {
        text-align: unset;
    }
    .project:nth-child(odd) {
        text-align: unset;
    }
    .project .title {
        text-align: center;
    }
    .project .description {
        font-size: .8em;
    }
    .project img {
        width: 100%;
    }

    #cyber-img-small {
        display: block;
    }
    #cyber-img-large {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        width: 80%;
        border-radius: 13em;
    }
    #nav-container {
        padding-bottom: 35px;
    }
    #nav-prompt {
        font-size: 13px;
    }
    .nav-item a {
        color: brown;
    }
    #my-pic {
        width: 60%;
    }
}
@media only screen and (max-width: 400px) {
    h1 {
        text-align: center;
    }
    h1 a {
        font-size: 100%;
        text-align: center;
    }
    header h2 {
        text-align: center;
        font-size: 120%;
        line-height: 1.3;
    }
    nav {
        padding: 7%;
    }
    

    footer {
        display: block;
    }
    footer h2 {
        padding-bottom: 20px;
    }
    footer div {
        padding-bottom: 10px;
    }
    footer div:last-of-type {
        padding-bottom: 0;
    }
}

.useRobotClick {
    animation: robotClick .1s;
}

@keyframes robotClick {
    0% {background-color: #02EFEE;}
    50% {background-color: #0001cb;}
    100% {background-color: #02EFEE;}
}